.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: rgba(0, 44, 89, 0.459);
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.help-list{
    padding: 40px;
    font-weight: 300;
}

.force-right{
    margin: 20px auto;
}

#advdialog{
    min-height: 800px !important;
}

.flush{
    background-color: rgba(0, 16, 31, 0.794);
    color: white;
    font-weight: 300;
    padding: 50px;
    border-radius: 15px;
    width: 60%;
    display:block;
    margin: auto 0;
}

#permdialog_objname_namespan{
    color: rgb(0, 166, 255);
    font-weight: 600;
    margin: 20px;
}
#adv_perm_object_name{
    color: rgb(0, 166, 255);
    font-weight: 600;
    margin: 20px;
}
#adv_owner_object_name {
    color: rgb(0, 166, 255);
    font-weight: 600;
    margin: 20px;
}

#adv_effective_object_name{
    color: rgb(0, 166, 255);
    font-weight: 600;
    margin: 20px;
}

#adv_perm_table_container{
    min-height: 200px;
}

#adv_effective_effective_list{
    min-height: 220px;
}

#adv_effective_effective_list td{
    padding: 5px;
}

.spacer{
    padding: 10px;
}

.flush li {
    margin: 10px;
}
